$bg-color: #F4F8F9;
$item-color: #0C83E6;
$font-color-dark: #4E5358;
$font-color-light: #676B6E;
$icon-color: #A6B0B9;
$icon-bg-color: #ECF1F5;
$section-color: #FFFFFF;
$font-xl: 1.4em;
$font-bg: 1em;
$font-md: .9em;
$font-sm: .8em;

$screen-md-min: 600px;
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

* {
  margin: 0;
}

body {
  overflow: hidden;
  background: $bg-color;
  color: $font-color-light;
  height: 100vh;
  width: 100vw;
}

.header {
   @include md {
    background-color: $section-color;
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 0 4px 6px -6px $font-color-light;
  }
  & .header__logout {
    background-color: $bg-color;
    cursor: pointer;
    color: $item-color;
    font-weight: bold;
    font-size: .7em;
    border: none;
    padding: 5px;
    position: relative;
    margin-bottom: 2em;
    left: 80vw;
    top: 10px;
    @include md {
      background-color: $section-color;
      border: 1px solid $item-color;
      border-radius: 2px;
      padding: 5px 10px;
      height: 20px;
      margin-top: 1em;
      margin-left: 52px;
      position: absolute;
    }
  }
  & .header__profile {
      margin: 10px;
      font-size: $font-sm;
      margin-top: 3em;

      @include md {
        display: block;
        z-index: 1;
      }
      & .header__profile-image {
        width: 120px;
        display: block;
        margin: auto;
        margin-top: -20px;
        box-shadow: 0 -4px 10px -6px $font-color-light,
                    0 4px 10px -6px $font-color-light;
        @include md {
          position: relative;
          left: 5px;
          top: 20px;
          height: 120px;
        }
      }
      & .header__profile-info {
        @include md {
          position: absolute;
          left: 145px;
          top: 70px;
        }
      }
      & .header__profile-name {
        font-size: $font-bg;
        text-align: center;
        padding: .5em 0;
        color: $font-color-dark;
        margin-top: 5px;
        margin-bottom: 10px;
        @include md {
          position: relative;
          left: -5px;
          font-size: $font-xl;
        }
      }
      & .header__profile-location, .header__profile-phone {
        text-decoration: none;
        color: $font-color-light;
      }
      & .header__profile-break {
        margin: .3em;
      }
      & .header__profile-phone, .phone-icon {
        @include md {
          position: relative;
          top: -7px;
        }
      }
      & .header__profile-location {
        display: inline;
      }
      & .header__profile-ratings {
        @include md {
          position: absolute;
          right: 25px;
          top: 70px;
          display: inline-block;
        }

        & .header__profile-ratings--stars {
          color: $item-color;
          font-size: $font-xl;
          @include md {
            color: $font-color-light;
          }
        }
        & .header__profile-ratings--number {
            display: block;
            padding-bottom: 1em;
            @include md {
              display: inline-block;
              position: relative;
              top: -4px;
              left: 10px;
            }
          }
      }
      & .bold-text {
        font-weight: bold;
      }
      & .header__profile-followers {
        @include md {
          position: absolute;
          right: 16px;
          top: 168px;
          display: inline-block;
        }
        & .header__profile-followers--add {
          font-size: $font-xl;
          color: $icon-color;
          position: relative;
          top: 5px;
        }
      }
    }
  & .header__navbar {
    // width: 100%;
    background-color: $section-color;
    padding: 15px;
    font-size: $font-sm;
    box-shadow: 0 -4px 6px -6px $font-color-light,
                0 4px 6px -6px $font-color-light;
     @include md {
        box-shadow: 0 0 0 0 $font-color-light;
     }
    & .header__navbar--ul {
      display: flex;
      list-style: none;
      align-items: center;
      padding: 0;
      @include md {
        position: absolute;
        top: 165px;
        left: 150px;
        padding-top: 10px;
        &:after {
          content: "";
          display: block;
          width: 100vw;
          border-top: 1px solid $icon-bg-color;
          position: absolute;
          top: 0;
          right: -210px;
        }
      }
      & .header__navbar-links {
        margin-right: 10px;
        text-decoration: none;
        color: $font-color-light;
        &:hover {
          padding-bottom: 15px;
          border-bottom: 2px solid $item-color;
          @include md {
            padding-bottom: 8px;
          }
        }
      }
      & .header__navbar-links--active {
          padding-bottom: 15px;
          border-bottom: 2px solid $item-color;
        }
    }
  }
  & .header__file {
      display: none;
      @include md {
        display: block;
        position: absolute;
        left: 40%;
        border: 1px solid $icon-color;
        border-radius: 2px;
        &:hover {
          border-color: $font-color-dark;
        }
      }
    & .header__file-upload {
      @include md {
        height: 0;
        overflow: hidden;
        width: 0;
      }
    }
    & .header__file-upload + .header__file-upload-label {
      @include md {
        background-color: $section-color;
        border: none;
        color: $font-color-light;
        cursor: pointer;
        display: inline-block;
        font-size: $font-sm;
        margin-left: 15px;
        outline: none;
        padding: 5px 10px;
        position: relative;

        &:hover {
          color: $font-color-dark;
        }
      }
    }
    & .header__file-upload--icon {
      position: absolute;
      left: 6px;
      top: 6px;
      font-size: $font-sm;
      color: $icon-color;
    }
  }
  .icons {
    font-size: 1.1em;
  }
}


.section {
  background-color: $section-color;
  position: relative;
  top: 2%;
  display: none;
  padding: 1em;
  max-width: 100vw;
  min-height: 200px;
  box-shadow: 0 0 1px 0px $font-color-light;
  @include md {
    // height: 400px;
  }
  & .section__title {
    display: inline-block;
    padding-top: .5em;
    padding-bottom: .8em;
    font-weight: normal;
    color: $font-color-light;
    font-size: $font-bg;
  }
  & .section__icons-edit-all {
    position: absolute;
    left: 90vw;
    top: 20px;
    background-color: $icon-bg-color;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: $item-color;
      color: $section-color;
    }
    @include md {
      display: none;
    }
  }
  & .section__form {
    display: none;
    & .section__form-group {
      position:relative; 
      margin-bottom: 10px; 
    }
    & .section__form-group-input {
      font-size: $font-md;
      padding:10px 10px 6px 0;
      display:block;
      width:80vw;
      border:none;
      border-bottom:1px solid $icon-bg-color;
      &:focus {
        outline:none;
      }
    }
    & .section__form-group-label {
      color: $font-color-light; 
      font-size: .7em;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      top:10px;
      transition:0.2s ease all; 
    }
    & .section__form-group-input:focus ~ .section__form-group-label, .section__form-group-input:valid ~ .section__form-group-label {
      top:-4px;
      color: $icon-color;
      font-size: .5em;
    }
    & .section__form-group--bar {
      position:relative; 
      display:block; 
      width: 84.5vw;
      &:before, &:after {
        content:'';
        height:1px; 
        width:0;
        bottom:1px; 
        position:absolute;
        background: $item-color; 
        transition:0.2s ease all;
      }
      &:before {
        left: 50%;
      }
      &:after {
        right: 50%;
      }
    }
    & .section__form-group-input:focus ~ .section__form-group--bar:before, .section__form-group-input:focus ~ .section__form-group--bar:after {
      width: 50%;
    }
    & .section__form-buttons-container {
      position: relative;
      top: -267px;
      left: 65%;
      & .section__form-buttons {
        font-size: .7em;
        border: none;
        background: none;
        color: $item-color;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }
  & .section__info {
    font-size: $font-md;
    padding-bottom: .8em;
    & .section__info-container {
      margin-bottom: 1em;
      @include md {
        background-color: $icon-bg-color;
        width: 180px;
        padding: 5px;
        margin-bottom: 1px;
      }
        & > .section__icons-edit {
          display: none;
          @include md {
            display: inline-block;
            background-color: darken($icon-bg-color, 10%);
            position: relative;
            left: 20px;
            padding: 5px;
            &:hover {
              background-color: $item-color;
              color: $section-color;
            }
          }
        }
      }
      & .section__info-field {
        position: relative;
        top: -1.5px;
        left: 4px;
      }
      & .info-name {
        padding-bottom: 1.2em;
        font-weight: bold;
        @include md {
          display: inline;
        } 
    }
    & .section__info-tooltip {
      display: none;
      @include md {
        width:200px;
        height: 60px;
        position:absolute;
        z-index:1;
        left: 180px;
        background-color:$section-color;
        color: $font-color-light;
        padding:15px 20px;
        border-radius: 2px;
        box-shadow: 0 0 8px .5px $font-color-light;
      }
      & .section__form {
        display: block;
        & .section__form-group {
          & .section__form-group-input {
            width: 200px;
          }
        }
        & .section__info-tooltip-buttons-container {
          position: relative;
          // top: 250px;
          & .section__info-tooltip-buttons {
            border: 1px solid $item-color;
            font-size: .7em;
            padding: 4px 7px;
            cursor: pointer;
            color: $item-color;
            border-radius: 2px;
            &:hover {
              background-color: $item-color;
              color: $section-color;
            }
          }
        }
      }
    }
  } 
}